{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<h1>tasks</h1>
<p>This is the tasks page of the website.</p><br><br>
<div class="content">
<ul>
    {% for t in task %}
        <li><h2>{% if t.done %} ✅ {% else %} ❌ {% endif %}  {{ t.title }}</h2>
            {% if t.description %}
                - {{ t.description }}
            {% else %}
                - No description available.
            {% endif %}
            <h4><b>project: {{ t.project.name }}</b></h4>

        <button class="btn btn-primary">
            ❌ Delete
        </button>
        <button class="btn btn-primary">
            ✅ Mark as Complete
        </button><br><br><br>
        </li>
    {% empty %}
        <li>No tasks available.</li>
    {% endfor %}
</ul>
</div>
<br>

{% endblock %} 